.wrapper {
  @include row();
  position: relative;
  height: 100%;
  max-width: 110.375rem;
  &--noRelative{
    position: static;
  }
}

.wrapper--centered {
  @extend .wrapper;
  text-align: center;
}

.button {
  width: 7.5625rem;
  height: 2.25rem;
  border-radius: 20px;
  background-color: $laranja;
  color: $branco;
  line-height: 1.1875rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  cursor: pointer;

  @media screen and ($max-sm) {
    width: 5.5rem;
    height: 1.625rem;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
  }

  &:hover {
    opacity: 0.9;
  }

  a {
    text-decoration: none;
    color: $branco;
    outline: none;
    .button {
      width: 7.5625rem;
      height: 2.25rem;
      border-radius: 20px;
      background-color: $laranja;
      color: $branco;
      line-height: 1.1875rem;
      font-size: 1rem;
      text-align: center;
      letter-spacing: 0.25px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      outline: none;
      border: none;
      cursor: pointer;

      @media screen and ($max-sm) {
        width: 5.5rem;
        height: 1.625rem;
        font-size: 0.8125rem;
        line-height: 0.9375rem;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.leftButton {
  position: relative;
  left: 20.625rem;

  @media screen and ($max-sm) {
    left: 6.8125rem;
  }
}