.container-slide {
  background-image: url('../img/banner-topo.png');
  background-position: center;
  background-size: cover;
  height: 961.74px;
  width: 100%;
  @media screen and ($max-sm) {
    height: 219px;
    background-image: url('../img/bg-responsivo.png');
    background-position: center;
    background-size: cover;
  }
}

.wrapper-slide {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide-item {
  width: 670px !important;
  flex-shrink: 0;
  max-width: 800px;
  margin: 179px auto;
  transform: scale(.8);
  transition: .4s;
  border-radius: 5px;
  overflow: hidden;
  outline: none;
  flex-direction: column;    
  margin-right: 870px;
  margin-top: 110px;
  @media screen and ($max-sm) {
    max-width: 302px;
    width: 100% !important;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  h1 {
    font-size: 50px;
    color: $laranja;
    letter-spacing: 0.25px;
    font-weight: bold;
    text-align: left;
    line-height: 59px;
    margin-bottom: 5px;
    @media screen and ($max-sm) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  h2 {
    color: $branco;
    font-size: 30px;
    text-align: left;
    line-height: 39px;
    letter-spacing: 0.25px;
    @media screen and ($max-sm) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  p {
    color: $branco;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.25px;
    font-style: normal;
    font-weight: normal;
    max-width: 490px;
    padding-bottom: 20px;
    padding-top: 6px;
    @media screen and ($max-sm) {
      font-size: 13px;
      line-height: 15px;
      padding-bottom: 16px;
      padding-top: 10px;
    }
  }
}

.slide .slick-next {
  right: 105px;
}

.slide .slick-prev {
  left: 105px;
}

// carrossel componente

.carrossel {
  display: flex;
  justify-content: center;
  top: -120px;
  margin-bottom: 107px;
  &__componente {
    width: 236px !important;
    max-width: 100%;
    background-color: $branco;
    border-radius: 25px;
    height: 198px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 43px;
    padding-right: 30px;
    padding-top: 21px;
    padding-bottom: 35px;
    margin-right: 67px;
    outline: none;
    @media screen and (max-width: 599px) {
      padding: 14px 30px 29px 40px;
      max-width: 100%;
      width: 218px !important;
      height: 200px !important;
      margin-bottom: 20px;
      margin-right: 33px;
    }

    &:last-child {
      margin-right: 0;
    }
  
    figure {
      text-align: center;
      padding-bottom: 15px;
      max-width: 74px;
      max-height: 74px;
      margin: 0 70px;
      svg {
        fill: $laranja;
        max-width: 74px;
        max-height: 74px;
        @media screen and (max-width: 599px) {
          width: 69px;
          height: 69px;
        }
      }

      @media screen and (max-width: 599px) {
        margin: 0 auto;
      }
    }

    h3 {
      margin-bottom: 12px;
      color: $cinza;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.25px;
      @media screen and (max-width: 599px) {
        font-size: 18px;
        line-height: 21px;
      }
      
    }

    p {
      max-width: 245px;
      height: 70px;
      font-size: 15px;
      line-height: 18px;
      color: $cinza-Escuro;
      @media screen and (max-width: 599px) {
        font-size: 14px;
        line-height: 16px;
      }
    }

  }
}