.depoimento {
  display: flex;
  justify-content: center;
  margin-top: 600px;
  article {
    margin-bottom: 58px;
    h2 {
      font-size: 32px;
      color: $laranja;
    }
  }
  &-slide-container {
    display: flex;
    margin-bottom: 150px;
    top: 110px;

    .depoimento-slide__item {
      width: 480px !important;
      height: 223px;
      background: #FDFBFB;
      box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 70px;
      position: relative;
      margin-bottom: 10px;
      outline: none;
      padding-bottom: 30px;
      padding-left: 40px;
      padding-right: 40px;

      &:first-child {
        margin-left: 70px;
      }

      img {
        width: 155px;
        height: 155px;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }

      article {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 32px;
      }
    }
  }

  &-container {
    width: 1760px;
    height: 241px;

    border: 3px solid #FF5800;
    box-sizing: border-box;
    border-radius: 25px;

    @media screen and ($max-sm) {
      max-width: 100%;
      width: 100%;
    }
  }
}