.depoimento {
  display: flex;
  justify-content: center;
  margin-top: 600px;
  @media screen and (max-width: 599px) {
    margin-top: 67px;
  }
  article {
    margin-bottom: 58px;
    @media screen and (max-width: 599px) {
      margin-bottom: 36px;
    }
    
    h2 {
      font-size: 32px;
      color: $laranja;
      @media screen and (max-width: 599px) {
        font-size: 18px;
        max-width: 290px;
        font-weight: bold;
        line-height: 21px;
      }
    }
  }
  &-slide-container {
    display: flex;
    margin-bottom: 150px;
    top: -170px;
    @media screen and ($max-sm) {
      top: -111px;
      .slick-track {
        justify-content: space-between;
      }
    }

    .depoimento-slide__item {
      width: 480px !important;
      height: 253px;
      background: #FDFBFB;
      box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 70px;
      margin-left: 70px;
      position: relative;
      margin-bottom: 10px;
      outline: none;
      margin-top: 60px;
      &:first-child {
        margin-left: 70px;
      }
      @media screen and ($max-sm) {
        max-width: 100%;
        width: 252px!important;
        height: 133px!important;
        margin: 0 10px;
        margin-bottom: 20px;
        margin-top: 48px;
        padding: 0;
        &:first-child {
          margin-left: 0px;
        }
      }


      img {
        width: 155px;
        height: 155px;
        border-radius: 100%;
        object-fit: cover;
        position: relative;
        top: -19%;
        @media screen and ($max-sm) {
          width: 80px;
          height: 80px;
          position: relative;
          top: -20px;
          margin-bottom: 0;
        }
      }

      article {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 32px;
        padding-left: 40px;
        padding-right: 40px;
        @media screen and ($max-sm) {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 16px;
          margin-left: 21px;
          margin-right: 0;
          padding: 0;
        }
      }

      p {
        @media screen and ($max-sm) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &-container {
    width: 1760px;
    height: 241px;

    border: 3px solid #FF5800;
    box-sizing: border-box;
    border-radius: 25px;

    @media screen and ($max-sm) {
      max-width: 100%;
      width: 100%;
      height: 126px;
    }
  }
}