.depoimento {
  display: flex;
  justify-content: center;
  margin-top: 37.5rem;
  @media screen and (max-width: 599px) {
    margin-top: 4.1875rem;
  }
  article {
    margin-bottom: 3.625rem;
    @media screen and (max-width: 599px) {
      margin-bottom: 2.25rem;
    }
    
    h2 {
      font-size: 2rem;
      color: $laranja;
      @media screen and (max-width: 599px) {
        font-size: 1.125rem;
        max-width: 18.125rem;
        font-weight: bold;
        line-height: 1.3125rem;
      }
    }
  }
  &-slide-container {
    display: flex;
    top: -10.625rem;
    flex-wrap: nowrap;
    @media screen and ($max-sm) {
      margin-bottom: 0;
      top: -6.9375rem;
      .slick-track {
        justify-content: space-between;
      }
    }

    .depoimento-slide__item {
      width: 30rem !important;
      height: 15.8125rem;
      background: #FDFBFB;
      box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 4.375rem;
      margin-left: 4.375rem;
      position: relative;
      margin-bottom: 0.625rem;
      outline: none;
      margin-top: 3.75rem;
      &:first-child {
        margin-left: 4.375rem;
      }
      @media screen and ($max-sm) {
        max-width: 100%;
        width: 15.75rem !important;
        height: 10.1875rem !important;
        margin: 0 0.625rem;
        margin-bottom: 1.25rem;
        margin-top: 3rem;
        padding: 0;
        &:first-child {
          margin-left: 0px;
        }
      }


      img {
        width: 9.6875rem;
        height: 9.6875rem;
        border-radius: 100%;
        object-fit: cover;
        position: relative;
        top: -19%;
        @media screen and ($max-sm) {
          width: 5rem;
          height: 5rem;
          position: relative;
          top: -1.25rem;
          margin-bottom: 0;
        }
      }

      article {
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        @media screen and ($max-sm) {
          font-size: 0.875rem;
          line-height: 1rem;
          margin-bottom: 0.625rem;
          margin-left: 1.3125rem;
          margin-right: 0;
          padding: 0;
        }
      }

      p {
        @media screen and ($max-sm) {
          margin-bottom: 1.875rem;
          font-size: 0.875rem;
          line-height: 1rem;
        }
      }
    }
  }

  &-container {
    width: 110rem;
    height: 15.0625rem;

    border: 3px solid #FF5800;
    box-sizing: border-box;
    border-radius: 25px;

    @media screen and ($max-sm) {
      max-width: 100%;
      width: 100%;
      height: 7.875rem;
    }
  }
}