.formulario {
  display: flex;
  justify-content: space-evenly;
  margin-top: 121px;
  margin-bottom: 100px;
  @media screen and (max-width: 599px) {
    flex-direction: column-reverse;
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 599px) {
      margin-top: 60px;
    }

    figure {
      margin-bottom: 20px;
    }
  }

  &-links {
    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
    }
    svg {
      width: 40px;
      height: 40px;
      fill: $cinza;
      margin-right: 10px;

      @media screen and (max-width: 599px) {
        width: 43px;
        height: 43px;
      }
    }

    a {
      text-decoration: none;
      color: $cinza;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and ($max-sm) {
      max-width: 100%;
      width: 100%;
    }

    h2 {
      font-size: 64px;
      font-weight: bold;
      color: $laranja;
      text-align: center;
      margin-bottom: 33px;
      @media screen and (max-width: 599px) {
        font-size: 20px;
        margin-bottom: 23px;
        text-align: left;
        margin-right: 140px;
      }
    }
    input, textarea {
      width: 784px;
      background-color: #C4C4C4;
      height: 60px;
      border-radius: 25px;
      border: none;
      outline: none;
      font-size: 26px;
      color: $branco;
      line-height: 30px;
      padding-left: 33px;
      margin-bottom: 26px;
      @media screen and ($max-sm) {
        max-width: 100%;
        width: 301px;
        height: 31px;
        font-size: 15px;
        padding-left: 17px;
      }

      &::placeholder {
        color: $branco;
        font-size: 26px;
        @media screen and (max-width: 599px) {
          font-size: 15px;
        }
      }
    }
    textarea {
      height: 306px;
      padding-top: 15px;
      @media screen and (max-width: 599px) {
        height: 162px;
        border-radius: 15px;
        padding-top: 7px;
        padding-left: 12px;
        margin-left: 0;
      }
    }
  }

}