[data-menu="button"] {
  display: none;
}

@media screen and ($max-sm) {
  .js .container{ 
    position: relative;
    width: 3.75rem;
    margin: 1.25rem auto;
  }

  .js [data-menu="button"] {
    position: absolute;
    width: 3.75rem;
    height: 3.75rem; 
    top: 0; 
    left: 15.625rem;
    cursor: pointer;
    display: initial;
  }

  .js .btn-left {
    background-color: $laranja;
    position: absolute;
    width: 2.8125rem;
    height: 0.4375rem;
    top: 1.875rem;
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 25px 0px 0px 25px;
    &::before {
      background-color: $laranja;
      position: absolute;
      width: 2.8125rem;
      height: 0.4375rem;
      content: "";
      top: -0.875rem;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      border-radius: 25px 0px 0px 25px;

    }

    &::after {
      background-color: $laranja;
      position: absolute;
      width: 2.8125rem;
      height: 0.4375rem;
      content: "";
      top: 0.875rem;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      border-radius: 25px 0px 0px 25px;

    }
   }

   .js .active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
    &::before {
      -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, -5px);
      transform: rotateZ(45deg) scaleX(1.4) translate(4px, -5px);
    }

    &::after {
      -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, 5px);
      transform: rotateZ(-45deg) scaleX(1.4) translate(4px, 5px);
    }
  }

  .js .btn-right {
    background-color: $laranja;
    position: absolute;
    width: 2.8125rem;
    height: 0.4375rem;
    top: 1.875rem;
    left: 1.875rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 0px 25px 25px 0px;

    &::before {
      background-color: $laranja;
      position: absolute;
      width: 2.8125rem;
      height: 0.4375rem;
      content: "";
      top: -0.875rem;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      border-radius: 0px 25px 25px 0px;
    }

    &::after {
      background-color: $laranja;
      position: absolute;
      width: 2.8125rem;
      height: 0.4375rem;
      content: "";
      top: 0.875rem;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      border-radius: 0px 25px 25px 0px;
    }
  }

  .js .active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;

    &::before {
      -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(0px, 4px);
      transform: rotateZ(-45deg) scaleX(1.4) translate(0px, 4px);
    }

    &::after {
      -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
      transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    }
  }

  .js [data-menu="lista"] {
    display: none;
    position: absolute;
    width: 12rem;
    height: 12.8125rem;
    background: #FFFFFE;
    border-radius: 25px;
    z-index: 200;
    top: 3.875rem;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    padding: 1.5rem;
    left: 12.8125rem;
    
    a {
      font-size: 1.125rem;
      line-height: 1.3125rem;
      color: $cinza;
    }
  }
  .js [data-menu="lista"].active {
    display: block;
    animation: show-right .3s forwards;
  }
  .js .dropdown-menu {
    position: static;
    border: none;
  }
}