.servicos {
  position: relative;
  top: 32.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 599px) {
    top: 0;
    margin-top: 3.9375rem;
  }

  &-title {
    @media screen and (max-width: 599px) {
      max-width: 17.9375rem;
      margin: 0 auto;
    }
    h2 {
      display: block;
      font-size: 2rem;
      color: $laranja;
      letter-spacing: 0.25px;
      line-height: 2.3125rem;
      text-align: left;
      margin-bottom: 2.4375rem;
      font-weight: bold;
      margin-top: 6.6875rem;
      @media screen and (max-width: 599px) {
        font-size: 1.25rem;
        line-height: 1.4375rem;
        margin-bottom: 0.5625rem;
      }
    }
    p {
      max-width: 64.375rem;
      font-size: 1.5rem;
      line-height: 1.75rem;
      text-align: left;
      margin-bottom: 4.3125rem;
      @media screen and (max-width: 599px) {
        font-size: 1.125rem;
        line-height: 1.3125rem;
        margin-bottom: 1.25rem;
      }
      
    }
  }

  &-carrossel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 91.25rem;
    @media screen and (max-width: 599px) {
      max-width: 100%;
    }

    .carrossel__componente {
      margin-bottom: 3.5625rem;
      margin-left: 2.8125rem;
      margin-right: 0;
      width: 18.4375rem !important;
      height: 12.3125rem;
      padding: 0.9375rem 1.625rem 1.75rem 1.8125rem;
      box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.15), 4px 0px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 599px) {
        padding: 0;
        max-width: 100%;
        width: 16.6875rem !important;
        height: 15rem !important;
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
        margin-right: 0.6875rem;
        margin-left: 0;

         &:first-child {
          margin-left: 0;
        }
      }

      &:last-child {
        h3 {
          max-width: 11.8125rem;
        }
      }

      figure {
        margin: 0 auto;
        svg img {
          width: 5.375rem;
          height: 5.375rem;
          @media screen and (max-width: 599px) {
            width: 4.3125rem;
            height: 4.3125rem;
          }
        }

        @media screen and (max-width: 599px) {
          margin-top: 1.125rem;
          padding: 0;
        }
      }
      @media screen and (max-width: 599px) {
        h3 {
          margin-left: 1.125rem;
          margin-right: 0.625rem;
        }
        p {
          margin-left: 1.125rem;
          margin-bottom: 1.25rem;
        }
      }
    }
  }

}