.wave {
  background-image: url('../img/quem-somos.png');
  background-position: center;
  background-size: cover;
  height:692px;
  width: 100%;
  position: absolute;
  top: 773px;
  @media screen and (max-width: 599px) {
    top: -49px;
    position: relative;
    background-image: url('../img/wave-responsivo.png');
    background-position: center;
    background-size: cover;
    height: 494px;
  }
  &-institucional {
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
    align-items: center;
    article {
      margin-right: 250px;
      @media screen and (max-width: 599px) {
        margin-right: 0;
        margin: 0 auto;
        margin-bottom: 51px;
      }
    }
    h2 {
      font-size: 32px;
      line-height: 37px;
      color: $branco;
      margin-bottom: 20px;
      font-weight: bold;
      @media screen and (max-width: 599px) {
        font-size: 18px;
        line-height: 21px;
      }
    }
    p {
      color: $branco;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      max-width: 796px;
      @media screen and (max-width: 599px) {
        font-size: 13px;
        line-height: 18px;
        max-width: 100%;
        max-width: 303px;
        margin-bottom: 10px;
      }
    }
  }

  &-carrossel {
    display: flex;
    justify-content: center;
    top: -120px;
    margin-bottom: 107px;
    position: relative;
    @media screen and (max-width: 599px) {
      top: -86px;
      margin-bottom: 0;
    }
  }
}