.wave {
  background-image: url('../img/quem-somos.png');
  background-position: center;
  background-size: cover;
  height:692px;
  width: 100%;
  position: absolute;
  top: 773px;
  &-institucional {
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: left;
    align-items: center;
    article {
      margin-right: 250px;
      @media screen and (max-width: 599px) {
        margin-right: 0;
    }
    }
    h2 {
      font-size: 32px;
      line-height: 37px;
      color: $branco;
      margin-bottom: 20px;
      font-weight: bold;
    }
    p {
      color: $branco;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      max-width: 796px;
    }
  }

  &-carrossel {
    display: flex;
    justify-content: center;
    top: -120px;
    margin-bottom: 107px;
  }
}